extends layout

block content
	.container
			h1 About Us

			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat eu dui vitae porttitor. Donec in urna commodo, iaculis ante non, congue neque. Proin pellentesque purus eu cursus fringilla. In dignissim sapien id mauris accumsan pharetra. Mauris vel elit dui. Suspendisse potenti. In risus nunc, vulputate lacinia ligula id, aliquet malesuada lectus. Integer non lacus porttitor, aliquet metus eget, mollis lacus. Nulla ultrices quam in urna vehicula, nec pretium mi tempus. Proin sed luctus neque. Vivamus non dui lorem. Nunc semper urna in odio imperdiet consectetur sed nec turpis.
			ul
				li Vivamus nec scelerisque
				li Cras efficitur
				li Nam lectus elit
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat eu dui vitae porttitor. Donec in urna commodo, iaculis ante non, congue neque. Proin pellentesque purus eu cursus fringilla. In dignissim sapien id mauris accumsan pharetra. Proin sed luctus neque. Vivamus non dui lorem. Nunc semper urna in odio imperdiet consectetur sed nec turpis.