extends layout

block content

	.jumbotron
		.container
			h1 How may I help you?

			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat eu dui vitae porttitor. Donec in urna commodo, iaculis ante non, congue neque. Proin pellentesque purus eu cursus fringilla. In dignissim sapien id mauris accumsan pharetra. Mauris vel elit dui. Suspendisse potenti. In risus nunc, vulputate lacinia ligula id, aliquet malesuada lectus. Integer non lacus porttitor, aliquet metus eget, mollis lacus. Nulla ultrices quam in urna vehicula, nec pretium mi tempus. Proin sed luctus neque. Vivamus non dui lorem. Nunc semper urna in odio imperdiet consectetur sed nec turpis.

			a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat eu dui vitae porttitor. Donec in urna commodo, iaculis ante non, congue neque. Proin pellentesque purus eu cursus fringilla. In dignissim sapien id mauris accumsan pharetra.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Services
				p p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat eu dui vitae porttitor. Donec in urna commodo, iaculis ante non, congue neque. Proin pellentesque purus eu cursus fringilla. In dignissim sapien id mauris accumsan pharetra.
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Get In Touch
				p p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat eu dui vitae porttitor. Donec in urna commodo, iaculis ante non, congue neque. Proin pellentesque purus eu cursus fringilla. In dignissim sapien id mauris accumsan pharetra.
				a.btn.btn-default(href='#') View Details

